#webtitle {
  text-align: center;
}

.horizonul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizonli {
  float: left;
}

.horizonli a {
  display: block;
  color: black;
  width: 250px;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.horizonli a:hover {
  background-color: yellow;
}

.horizonli .active {
  background-color: yellow;
}

div {
  max-width: 1000px;
  margin: auto;
  border: 3px solid black;
}

div img {
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
}
