#webtitle {
  text-align: center;
}
body {
   background-image: url("background.JPG");
   background-color: #cccccc;
   background-size: 100%,100%;
}

.horizonul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizonli {
  float: left;
}

.horizonli a {
  display: block;
  color: black;
  width: 250px;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.horizonli a:hover {
  background-color: yellow;
}

.horizonli .active {
  background-color: yellow;
}

.navigation {
  max-width: 1200px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.bosses {
  max-width: 1000px;
  margin: auto;
  border: 5px solid black;
  background-image: url("bg.JPG");
  background-size: 130%,130%;
}

.bosses img {
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.type img {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.l5 {
  position: relative;
}

.latiosboss div {
  display: none;
  position: absolute;
  top: 40%;
  left: 15%;
  margin-top: -100px;
  /* approx adjustment for arrow */
  margin-left: 25px;
  /* approx adjustment for arrow */
}

.latiasboss div {
  display: none;
  position: absolute;
  top: 40%;
  left: 15%;
  margin-top: -100px;
  /* approx adjustment for arrow */
  margin-left: 200px;
  /* approx adjustment for arrow */
}

.hoohboss div {
  display: none;
  position: absolute;
  top: 40%;
  left: 15%;
  margin-top: -100px;
  /* approx adjustment for arrow */
  margin-left: 400px;
  /* approx adjustment for arrow */
}

.hoohboss {
  margin-top: -50px;
}

.mewtwoboss div {
  display: none;
  position: absolute;
  top: 40%;
  left: 15%;
  margin-top: -100px;
  /* approx adjustment for arrow */
  margin-left: 550px;
  /* approx adjustment for arrow */
}

.l5 img:hover+div {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 500px;
  line-height: 20px;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  z-index: 999;
  color: black;
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: #333 -4px 4px 16px 2px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.l5 div:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  top: 130px;
  left: -23px;
}

.counter {
  display: block;
  position: absolute;
}

.caldiv {
  max-width: 1000px;
  height: 200px;
  margin: auto;
  border: 3px solid black;
  background-image: url("backgroundsmall.JPG");
  background-size: 40%,40%;
}

.select {
  width: 250px;
}

.calculate {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
  font-size: 20px;
}

.button {

  background-color: white;
  padding: 14px 28px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */

.button:hover {
  background: #eee;
  color: red;
}

.catchrateresult {
  position: absolute;
  top: 400px;
  left: 800px;
  width: 500px;
  height: 200px;
  border: 3px solid red;
  font-size: 40px;
  background-color: white;
}

#gamepress {
  position: relative;
  font-size: 12px;
}
